<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeyu.fw.auth.mapper.base.BaseAuthMenuMapper">
  <resultMap id="BaseResultMap" type="com.seeyu.fw.auth.entity.AuthMenu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_pid" jdbcType="INTEGER" property="menuPid" />
    <result column="menu_service_id" jdbcType="INTEGER" property="menuServiceId" />
    <result column="menu_resource_id" jdbcType="INTEGER" property="menuResourceId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_text" jdbcType="VARCHAR" property="menuText" />
    <result column="menu_uri" jdbcType="VARCHAR" property="menuUri" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
    <result column="menu_remark" jdbcType="VARCHAR" property="menuRemark" />
    <result column="menu_active" jdbcType="INTEGER" property="menuActive" />
    <result column="menu_add_time" jdbcType="TIMESTAMP" property="menuAddTime" />
    <result column="menu_add_user" jdbcType="VARCHAR" property="menuAddUser" />
    <result column="menu_modify_time" jdbcType="TIMESTAMP" property="menuModifyTime" />
    <result column="menu_modify_user" jdbcType="VARCHAR" property="menuModifyUser" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, menu_pid, menu_service_id, menu_resource_id, menu_name, menu_text, menu_uri, 
    menu_icon, menu_order, menu_remark, menu_active, menu_add_time, menu_add_user, menu_modify_time, 
    menu_modify_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seeyu.fw.auth.entity.AuthMenu">
    <selectKey keyProperty="menuId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_menu (menu_pid, menu_service_id, menu_resource_id, 
      menu_name, menu_text, menu_uri, 
      menu_icon, menu_order, menu_remark, 
      menu_active, menu_add_time, menu_add_user, 
      menu_modify_time, menu_modify_user)
    values (#{menuPid,jdbcType=INTEGER}, #{menuServiceId,jdbcType=INTEGER}, #{menuResourceId,jdbcType=INTEGER}, 
      #{menuName,jdbcType=VARCHAR}, #{menuText,jdbcType=VARCHAR}, #{menuUri,jdbcType=VARCHAR}, 
      #{menuIcon,jdbcType=VARCHAR}, #{menuOrder,jdbcType=INTEGER}, #{menuRemark,jdbcType=VARCHAR}, 
      #{menuActive,jdbcType=INTEGER}, #{menuAddTime,jdbcType=TIMESTAMP}, #{menuAddUser,jdbcType=VARCHAR}, 
      #{menuModifyTime,jdbcType=TIMESTAMP}, #{menuModifyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seeyu.fw.auth.entity.AuthMenu">
    <selectKey keyProperty="menuId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into auth_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuPid != null">
        menu_pid,
      </if>
      <if test="menuServiceId != null">
        menu_service_id,
      </if>
      <if test="menuResourceId != null">
        menu_resource_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuText != null">
        menu_text,
      </if>
      <if test="menuUri != null">
        menu_uri,
      </if>
      <if test="menuIcon != null">
        menu_icon,
      </if>
      <if test="menuOrder != null">
        menu_order,
      </if>
      <if test="menuRemark != null">
        menu_remark,
      </if>
      <if test="menuActive != null">
        menu_active,
      </if>
      <if test="menuAddTime != null">
        menu_add_time,
      </if>
      <if test="menuAddUser != null">
        menu_add_user,
      </if>
      <if test="menuModifyTime != null">
        menu_modify_time,
      </if>
      <if test="menuModifyUser != null">
        menu_modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuPid != null">
        #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuServiceId != null">
        #{menuServiceId,jdbcType=INTEGER},
      </if>
      <if test="menuResourceId != null">
        #{menuResourceId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuText != null">
        #{menuText,jdbcType=VARCHAR},
      </if>
      <if test="menuUri != null">
        #{menuUri,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="menuRemark != null">
        #{menuRemark,jdbcType=VARCHAR},
      </if>
      <if test="menuActive != null">
        #{menuActive,jdbcType=INTEGER},
      </if>
      <if test="menuAddTime != null">
        #{menuAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuAddUser != null">
        #{menuAddUser,jdbcType=VARCHAR},
      </if>
      <if test="menuModifyTime != null">
        #{menuModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuModifyUser != null">
        #{menuModifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seeyu.fw.auth.entity.AuthMenu">
    update auth_menu
    <set>
      <if test="menuPid != null">
        menu_pid = #{menuPid,jdbcType=INTEGER},
      </if>
      <if test="menuServiceId != null">
        menu_service_id = #{menuServiceId,jdbcType=INTEGER},
      </if>
      <if test="menuResourceId != null">
        menu_resource_id = #{menuResourceId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuText != null">
        menu_text = #{menuText,jdbcType=VARCHAR},
      </if>
      <if test="menuUri != null">
        menu_uri = #{menuUri,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null">
        menu_order = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="menuRemark != null">
        menu_remark = #{menuRemark,jdbcType=VARCHAR},
      </if>
      <if test="menuActive != null">
        menu_active = #{menuActive,jdbcType=INTEGER},
      </if>
      <if test="menuAddTime != null">
        menu_add_time = #{menuAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuAddUser != null">
        menu_add_user = #{menuAddUser,jdbcType=VARCHAR},
      </if>
      <if test="menuModifyTime != null">
        menu_modify_time = #{menuModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuModifyUser != null">
        menu_modify_user = #{menuModifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seeyu.fw.auth.entity.AuthMenu">
    update auth_menu
    set menu_pid = #{menuPid,jdbcType=INTEGER},
      menu_service_id = #{menuServiceId,jdbcType=INTEGER},
      menu_resource_id = #{menuResourceId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_text = #{menuText,jdbcType=VARCHAR},
      menu_uri = #{menuUri,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      menu_order = #{menuOrder,jdbcType=INTEGER},
      menu_remark = #{menuRemark,jdbcType=VARCHAR},
      menu_active = #{menuActive,jdbcType=INTEGER},
      menu_add_time = #{menuAddTime,jdbcType=TIMESTAMP},
      menu_add_user = #{menuAddUser,jdbcType=VARCHAR},
      menu_modify_time = #{menuModifyTime,jdbcType=TIMESTAMP},
      menu_modify_user = #{menuModifyUser,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>