<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeyu.fw.auth.mapper.AuthGroupRelAccountMapper">
  <resultMap extends="com.seeyu.fw.auth.mapper.base.BaseAuthGroupRelAccountMapper.BaseResultMap" id="BaseResultMap" type="com.seeyu.fw.auth.entity.AuthGroupRelAccount" />
</mapper>